#startScreen {
	max-width: 600px;
}
.logo-image .wall, .spire-top::before, .spire-top::after {
	border: solid thin black;
}
.logo-image h1 {
	font-size: 3em;
	margin: 5px;
	position: absolute;
	color: black;
}
.logo-image .window {
	background: black;
	border-radius: 50% 50% 0 0;
}
.spires {
	flex: 1;
	display: flex;
}
.spires.background {
        position: relative;
        height: 0%;
	top: -110px;
}
.spires.background .spire-body,
	.spires.background .spire-body::before,
	.spires.background .spire-body::after,
	.spires.background .spire-top,
	.spires.background .cross {
        background: black;
	border: 0;
}
.spire {
        width: 50px;
        height: 150px;
        margin-left: 2%;
	margin-top: 5px;
}
.spires.background .spire {
	height: 50px;
	width: 17px;
}
.logo-image .wall {
	margin-left: 50%;
	width: 50%;
	height: 30px;
	margin-top: -27px;
	position: relative;
        background-color: #36c;
	display: flex;
}
.wall .window {
	height: 80%;
	flex: 1;
	margin: 0 5px;
	margin-top: 2%;
}
.spires.foreground {
	flex-direction: row-reverse;
	background: linear-gradient(0deg, #d53369 0%, #daae51 100%);
}

.spire-top {
        width: 100%;
        height: 34%;
        border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
	transform: rotate(-45deg);
        margin-left: -25%;
        position: relative;
}
.spire-top.dots {
	background: radial-gradient(white 2px, #EC173A 2px);
	background-size: 10px 10px;
}

/* https://leaverou.github.io/css3patterns/ */
.spire-top.zigzags {
	background:
	linear-gradient(135deg, #ECEDDC 25%, transparent 25%) -50px 0,
	linear-gradient(225deg, #ECEDDC 25%, transparent 25%) -50px 0,
	linear-gradient(315deg, #ECEDDC 25%, transparent 25%),
	linear-gradient(45deg, #ECEDDC 25%, transparent 25%);
	background-size: 18% 20%;
	background-color: #EC173A;
}
.spire-top.steps {
	background-color: #FF7D9D;
	background-size: 58px 58px;
	background-position: 0px 2px, 4px 35px, 29px 31px, 33px 6px,
	0px 36px, 4px 2px, 29px 6px, 33px 30px;
	background-image:
	linear-gradient(335deg, #C90032 23px, transparent 23px),
	linear-gradient(155deg, #C90032 23px, transparent 23px),
	linear-gradient(335deg, #C90032 23px, transparent 23px),
	linear-gradient(155deg, #C90032 23px, transparent 23px),

	linear-gradient(335deg, #C90032 10px, transparent 10px),
	linear-gradient(155deg, #C90032 10px, transparent 10px),
	linear-gradient(335deg, #C90032 10px, transparent 10px),
	linear-gradient(155deg, #C90032 10px, transparent 10px);
}
.spire-top.half-rhombus {
	background: #36c;
	background:
	linear-gradient(115deg, transparent 75%, rgba(255,255,255,.8) 75%) 0 0,
	linear-gradient(245deg, transparent 75%, rgba(255,255,255,.8) 75%) 0 0,
	linear-gradient(115deg, transparent 75%, rgba(255,255,255,.8) 75%) 7px -15px,
	linear-gradient(245deg, transparent 75%, rgba(255,255,255,.8) 75%) 7px -15px,
	#36c;
	background-size: 13px 30px;
}
.spire-body {
        background-color: #36c;
        width: 50%;
        height: 40%;
        border-top: solid thin;
        border-bottom: solid thin;
        position: relative;
        margin-top: -32%;
        clip-path: polygon(159.09% 82.52%, -59.09% 82.53%, -59.09% -7.83%, 153.03% -6.02%);
}
.spire-body, .spire-body::before, .spire-body::after {
        border-top: double;
        border-bottom: double;
}
.spire-body::before, .spire-body::after {
        content: '';
        display: block;
        position: absolute;
        width: 50%;
        height: 80%;
        top: 5%;
}
.spire-body::before {
        background-color: #1E3D7B;
        left: -50%;
	border-right: 0;
}
.spire-body::after {
        background-color: #2954AA;
        left: 100%;
        z-index: -1;
	border-left: 0;
}
.spire-body .window {
	position: absolute;
        top: 15%;
        left: 25%;
        width: 50%;
        height: 50%;
        position: absolute;
}
.spire-body .window.left, .spire-body .window.right {
        width: 25%;
        height: 40%;
        top: 22%;
}

.spire-body .window.left {
        left: -42%;
}
.spire-body .window.right {
        left: 115%;
}

.cross {
	margin-bottom: 10%;
	width: 20%;
	height: 20%;
	background: white;
	margin-left: 15%;
	clip-path: polygon(
	10% 15%,
	35% 15%,
	35% 0%,
	65% 0%,
	65% 15%,
	90% 15%,
	90% 27%,
	65% 27%,
	65% 100%,
	35% 100%,
	35% 27%,
	10% 27%);
}
.cross::before {
	display: block;
	content: '';
	width: 20%;
	height: 20%;
	border-radius: 50%;
}
