/* darkest #111111 */
/* dark #333333 */
/* light #555555 */
/* lightest #999999 */
body {
	background: #292929;
	color: white;
	font-family: 'Bebas Neue', sans-serif;
	margin: 0;
}
button {
	border: none;
}
button:hover {
	cursor: pointer;
}
.fade-in {
	animation-duration: 1s;
	animation-name: fadein;
}
@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.see-through {
	opacity: 0.25;
}
.solid-background {
	background: #111111;
}
.gray-background {
	background-color: #333333;
}
.full-height {
	height: 100%;
}
.full-width {
	width: 100%;
}
.disabled {
	background: gray;
}	

.w-3 {
	width: 30%;
}
/* font */
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.font-l {
	font-size: 1.25em;
}
.font-xl {
	font-size: 2em;
}

/* padding */
.p-less {
	padding: 5px;
}
.padding-less {
	padding: 5px;
}
.p-l-less {
	padding-left: 5px;
}
.p-b-less {
	padding-bottom: 5px;
}
/* margin */
.m-t-m {
	margin: 15px 0 0 0;
}
.m-y-xl {
	margin: 30px 0 30px 0;
}
.m-x-less {
	margin-left: 5px;
	margin-right: 5px;
}
.m-l-less {
	margin-left: 5px;
}
.m-less {
	margin: 5px;
}
.margin-auto {
	margin: auto;
}
.margin-bottom {
	margin-bottom: 5px;
}
.mt-0 {
	margin-top: 0;
}
.mb-0 {
	margin-bottom: 0;
}

/* border */
.border-left-0 {
	border-left: none;
}
.rounded {
	border-radius: 5px;
}
.solid-border {
	border: solid;
	border-color: #333333;
}

/* display */
.flex {
	display: flex;
}
.flex-column {
	flex-direction: column;
}
.equal-flex {
	flex: 1;
}
.d-relative {
	position: relative;
}
.d-inline-block { 
	display: inline-block;
}
.d-sm-none {
	display: none;
}
.hide {
	display: none;
}

.toggle-button {
	height: 25px;
	width: 25px;
}
.dpad-row {
	height: 10%;
}

.modal {
	position: absolute;
	top: 50px;
	padding: 5px;
	margin-left: 25px;
	width: 200px;
}
.modal .header {
	margin: -5px;
}
#startScreen {
	z-index: 1;
}
#game {
	height: 90%;
}
#gameCanvas {
	position: absolute;
	left: 0;
}

@media (max-width: 640px) {
	#startScreen table {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.d-sm-none {
		display: block;
	}
	.m-sm-0 {
		margin: 0;
	}
	.canvas-wrapper {
		height: 100%;
	}
	.modal {
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		margin-left: 0;
	}
	.modal button {
		margin: 0 5% 0 5%;
		font-size: 3em;
	}
	.toggle-button {
		width: 100%;
		margin-bottom: 5px;
	}
}
